/* for ssame fonts */
.font-family{
    font-family: "Work Sans", serif;
}
/* for same fonts */

/* color */
    .dark3{
        color: rgba(114, 114, 114, 1);
    }

    .dark1{
        color:  rgba(19, 19, 19, 1);
    }

    .orange{
        color: rgba(255, 144, 14, 1);
    }
/* color */

*{
    padding: 0px;
    margin: 0px;
}

/* nav part css start */
header{
    padding-top: 33px;
    /* padding-bottom: 45px; */
    background-color: rgba(255, 144, 14, 0.1);
    margin-bottom: 80px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0px auto;
}

.nav-menu ul{
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: black;
}

.nav-menu ul li{
    font-family:"Work Sans", serif;
    font-size: 1.10rem;
    font-weight: 400;
}

.header-section{
    width: 100%;
    /* margin: 0px auto; */
}

.g3{
    color: rgba(255, 144, 14, 1);
}

.nav-title, .sameh1{
    font-size: 3rem;
    font-weight: 700;
    /* line-height: 52px; */
}
/* nav part css end */

/* banner part css start */
.banner{
    padding: 120px 0px 45px 0px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 32px;
}

.banner-p, .samep{
    font-size: 1rem;
    font-weight: 400;
    line-height:1.5rem;
    margin-bottom: 32px;
    /* width: 868px; */
    /* text-align: center; */
}

.banner-btn{
    font-size: 1.25rem;
    font-weight: 2rem;
    padding: 20px 24px;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    color: #ffffff;
    border-radius: 8px;
    margin-bottom: 50px;
}

.banner-image img{
    width: 100%;
}
/* banner part css end */

/* main part start */

/* team start */

.team{
    width: 100%;
    margin-bottom: 80px;
}

.team-items{
    width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-photo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* padding-left: 60px;  */
}

.team-content{
    margin-left: 80px;
    padding-right: 60px;
}

.quick-list{
    font-size: 2.75rem;
    font-weight: 500;
}

.our, .features{
    font-size: 2.75rem;
    font-weight: bold;
}

.teamp{
    line-height: 24px;
    margin-top: 24px;
}

.team-photo img{
    width: 100%;
}
/* team end */

/* featured css start */

.features{
    width: 100%;
}

.featured-sec{
    width: 1440px;
    margin: 0px auto;
    display: flex;
    gap: 140px;
    justify-content: space-between;
    align-items: center;
}

.featureh1{
    font-size: 3rem;
    padding-left: 25px;
    border-left: 5px solid rgba(255, 144, 14, 1);
    margin-bottom: 24px;
}

.featuredp{
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
}

.features-card{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card{
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0px 0px 20px 0px rgba(231, 231, 231, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
}

.card-title{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin-bottom: 10px;
}

.cardp{
    margin: 0px;
}

.ten{
    font-size: 4rem;
    line-height: 4.375rem;
    font-weight: 700;
    color: #ffffff;
}

.exp{
    font-size: 1.5625rem;
    font-weight: 500;
    line-height: 2.5rem;
    color: #ffffff;
}

.experience{
    padding: 42px;
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    margin-top: -120px;
    margin-left: -100px;
}
/* featured css end */


/* main part end */














/* responsive part start  */

@media screen and (max-width:576px) {
    .nav-menu ul, .nav-container{
        flex-direction: column;
    }

    .nav-menu ul{
        gap: 20px;
        text-align: center;
    }

    .nav-container{
        width: 100%;
    }

    .header-section{
        width: 100%;
    }

    .team-items{
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: normal;
        justify-content: center;
    }

    .team-photo{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        margin-bottom: 20px;
    }

    .team-img{
        width: 100%;
        /* padding: 0px 10px; */
    } 

    .team-content{
        margin-left: 20px;
    }

    /* featured start */

    .featured-sec{
        flex-direction: column;
    }

    .experience{
        margin: 10px;
    }

    .featured-img img{
        width: 100%;
    }

     .featured-sec{
        width: 100%;
    }

    
    /* .card{
        width:calc(100% - 20px);
    } */

    .card{
        padding: 20px;
    }
    
    /* featured end */
}

.w-100{
    width: 100%;
}

@media screen and (min-width:577px) and (max-width:992px) {
    .nav-container{
        width: 100%;
        justify-content: space-around;
    }

    .header-section{
        width: 100%;
    } 
    
    /* .nav-menu ul, .nav-container{
        flex-direction: column;
    } */

     .nav-menu ul{
        gap: 30px;
        text-align: center;
        padding-right: 40px;
    } 

    .team-items{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .team-photo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-bottom: 20px;
        /* padding-left:10px; */
        padding: 0px 20px;
    }

    .team-content{
        margin-left: 20px;
    }

    /* featured start */

    .featured-sec{
        flex-direction: column;
        width: 100%;
    }

    .experience{
       margin: 20px;
    }

    .featured-img img{
        width: 100%;
    }
    /* featured end */
}
/*  responsive part end */